{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>项目信息配置</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/css.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sdmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>
<style>
        .modal-body{text-align:center;margin:0px auto;}

</style>
</head>
<body>
<div class="header">
	 <div class="logo"><img  src="{% static 'img/mobile.png' %}" /></div>

				<div class="header-right">
                <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i class="icon-user icon-white"></i> <a href="#">测试工程师</a> <i class="icon-envelope icon-white"></i> <a href="#">发送短信</a>
                <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					 <h3 id="myModalLabel">
						系统注销
					 </h3>
				</div>
				<div class="modal-body">
					<p>
						您确定要注销退出系统吗？
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" href="登录.html" >确定退出</a>
				</div>
			</div>
				</div>
</div>
<!-- 顶部 -->     
            
<div id="middle">
     <div class="left">
       <script type="text/javascript">
var myMenu;
window.onload = function() {
	myMenu = new SDMenu("my_menu");
	myMenu.init();
};
</script>

<div id="my_menu" class="sdmenu">
     <div >
		<span>基础信息维护</span>
		<a href="{%url 'owcf' %}">人员信息</a>
		<a href="{%url 'projconf' %}">项目信息</a>
	</div>
    <div >
		<span>用例维护</span>
		<a href="{%url 'casecf' %}">新增用例</a>
        <a href="{%url 'caseupd' %}">编辑用例</a>
	</div>
    <div >
		<span>接口配置</span>
		<a href="{%url 'intfcf' %}">接口信息配置</a>
	</div>
    </div>
</div>
     <div class="Switch"></div>
     <script type="text/javascript">
	$(document).ready(function(e) {
    $(".Switch").click(function(){
	$(".left").toggle();
	 });
});
</script>


     <div class="right"  id="mainFrame">
     <div class="right_cont">
 <ul class="breadcrumb">当前位置：
  <!--<a href="#">首页</a> <span class="divider">/</span>-->
  <a href="#">基础信息维护</a> <span class="divider">/</span>用例维护
</ul>
   <div class="title_right">
       <span class="pull-right margin-bottom-5">
           <a  class="btn btn-info btn-small"  id="modal-9" href="{% url 'caseadd' %}" role="button" data-toggle="modal">
               <i class="icon-plus icon-white"></i> 添加用例</a></span><strong>接口用例</strong>
   </div>
     {% if form.errors %}
         <p style="color:red;" 请输入有效数据{{ form.errors|pluralize }}></p>
     {% endif %}

     <form action="" method="get" role="form">
         <div class="form-inline"></div>
     </form>
         <table class="table table-bordered table-striped table-hover">
             <!--{{form.as_table}}-->

     <!--<table class="table table-bordered table-striped table-hover">-->
     <tbody>
       <tr align="center">
           <td width="20" nowrap="nowrap"><strong>用例ID</strong></td>
           <td width="70" nowrap="nowrap"><strong>所属项目</strong></td>
           <td width="120" nowrap="nowrap"><strong>用例摘要</strong></td>
           <td width="200" nowrap="nowrap"><strong>用例详情</strong></td>
           <td width="30" nowrap="nowrap"><strong>创建人</strong></td>
           <!--<td width="60" nowrap="nowrap"><strong>创建时间</strong></td>-->
           <td width="30" nowrap="nowrap"><strong>操作</strong></td>
       </tr>
       {% for item in data %}
       <tr align="center">
           <td nowrap="nowrap">{{item.id}}</td>
           <td nowrap="nowrap">{{item.projectName}}</td>
           <td nowrap="nowrap">{{item.summary}}</td>
           <td nowrap="nowrap">{{item.details}}</td>
           <td nowrap="nowrap">{{item.name}}</td>
           <!--<td nowrap="nowrap">{{item.createtime}}</td>-->
           <!--<td nowrap="nowrap">{{item.owner}}</td>-->
           <td nowrap="nowrap"><a href="{%url 'casedel' item.id%}" onclick="return confirm('确认删除吗？')">删除</a>
               <!--<a data-toggle="modal" href="{%url 'projupd'%}">编辑</a></td>-->
       </tr>
       {% endfor %}
     </tbody>
    </table>

<p>
	{% if data.has_previous %}
		<a href="?page={{ data.previous_page_number }}">上一页</a>
	{% endif %}
		{# data.paginator.number_pages 返回总页数 #}
		第{{ data.number }}页 | 共{{ data.paginator.num_pages }}页
	{% if data.has_next %}
		<a href="?page={{ data.next_page_number }}">下一页</a>
	{% endif %}
</p>
<div id="footer">版权所有：平安证券保障团队 &copy; 2017&nbsp;&nbsp;&nbsp;&nbsp;</div>
 <script>
  !function(){
     laydate.skin('molv');
     laydate({elem: '#Calendar'});
     laydate.skin('molv');
     laydate({elem: '#Calendar2'});
   }();
</script>
</div>
</div>

</div>
</body>
</html>
